body{
    font-family: 'Jost', sans-serif;
    font-size: smaller;
    background-color: rgb(97, 92, 92);
    ;
}

header{
    width: 100%;
    background-color: rgb(31, 31, 32);
    color: lightyellow;
    padding: 2px;
    margin: 5px;
}